@font-face {
    font-family: "Gilroy-Bold";
    src: url("fonts/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy-Regular";
    src: url("fonts/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("fonts/Gilroy-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("fonts/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("fonts/Gilroy-SemiBold.ttf") format("truetype");
}
