@import "./fonts/fonts.scss";
@import "./normalize.scss";

body {
    background-color: #242731;
    color: #fff;
}
.container {
    max-width: 928px;
    margin: 0 auto;
    padding: 10px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    margin-bottom: 92px;
    &__logo {
        display: flex;
        align-items: center;
        gap: 14px;
        &-text {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
    }
    &__date {
        display: flex;
        align-items: center;
        gap: 18px;
        font-family: "Gilroy-SemiBold";
        font-size: 14px;
        &-day {
            background-color: #302e5a;
            padding: 13px 22px 12px 23px;
            display: flex;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 6px;
            line-height: 14px;
        }
        &-time {
            background-color: #302e5a;
            padding: 12px 31px 11px 32px;
            display: flex;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 6px;
            line-height: 14px;
        }
    }
}
main {
    display: flex;
    justify-content: space-between;
}
.webinar {
    max-width: 427px;
    &__logo {
        display: flex;
        align-items: center;
        &-container {
            display: flex;
            gap: 6px;
            background-color: #4252d1;
            border-radius: 5px;
            padding: 4px 13px 4px 14px;
            font-family: "Gilroy-SemiBold";
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__title {
        font-family: "Gilroy-ExtraBold";
        font-size: 77px;
        line-height: 0px;
        color: #ff3459;
    }
    &__subtitle {
        font-family: "Gilroy-Medium";
        font-size: 21.95px;
        display: flex;
        align-items: center;
        gap: 26px;
        margin-left: 10px;
        margin-top: -25px;
        padding-bottom: 12px;
        & span {
            font-family: "Gilroy-ExtraBold";
            font-size: 23.64px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -10px;
                left: -10px;
                width: 100%;
                height: 100%;
                background: linear-gradient(#ff3459, #ff3459);
                transform: rotate(-3.51deg);
                border-radius: 5px;
                z-index: -1;
                padding: 8px 13px;
            }
        }
    }
    &__text {
        font-family: "Gilroy-Regular";
        font-size: 18px;
        line-height: 26.64px;
        padding-bottom: 40px;
        & span {
            font-family: "Gilroy-SemiBold";
            &:last-child {
                font-family: "Gilroy-Bold";
                font-size: 17.33px;
                background-color: #4252d1;
                border-radius: 3px;
                padding: 3px 8px 1px 6px;
                line-height: 25.65px;
            }
        }
    }
    &__info-author {
        display: flex;
        gap: 16.65px;
        align-items: center;
        padding-bottom: 16px;
    }
    &__info-bonus {
        display: flex;
        gap: 30.19px;
        align-items: center;
    }
}
.author {
    &-title {
        font-size: 13px;
        line-height: 120%;
        font-family: "Gilroy-Bold";
        margin: 0;
        & span {
            color: #4252d1;
        }
    }
    &-text {
        font-family: "Gilroy-Regular";
        font-size: 12px;
        line-height: 19.2px;
        margin: 0;
    }
}
.bonus {
    line-height: 17.76px;

    &-title {
        font-size: 12px;
        font-family: "Gilroy-Bold";
        margin: 0;
    }
    &-text {
        font-family: "Gilroy-Regular";
        font-size: 12px;
        margin: 0;
    }
}
.form {
    background-color: #303a53;
    border-radius: 10px;
    max-width: 366px;
    &__container {
        padding: 50px 58px;
    }
    &__title {
        font-family: "Gilroy-Bold";
        font-size: 22px;
        line-height: 25.99px;
        text-align: center;
        padding-bottom: 20px;
        & span {
            color: #ff3459;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 14px;
        font-family: "Gilroy-Regular";
        font-size: 13px;
        line-height: 24px;
        color: #d7d7d7;
        padding-bottom: 20px;
        & input {
            padding: 13px 0 14px 22px;
            border-radius: 5px;
            background-color: #272d3d;
            border: none;
            color: #d7d7d7;
            &::placeholder {
                color: #d7d7d7;
            }
            &:focus {
                outline: none;
            }
        }
        & button {
            background-color: #ff3459;
            font-family: "Gilroy-Bold";
            font-size: 15px;
            line-height: 24px;
            color: #fff;
            padding: 13px 0 14px 0;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    }
    &__additional {
        font-family: "Gilroy-Medium";
        font-size: 12px;
        line-height: 17.88px;
        opacity: 0.5;
        text-align: center;
        color: #fff;
        & a {
            color: #fff;
        }
    }
}
